%h4
    Discord
.text-center
    .discord-widget

%script{:src => '//cdn.jsdelivr.net/discord-widget/1.0/discord-widget.min.js', :type => 'text/javascript'}
:javascript
    discordWidget.init({
    	serverId: '393549574758727710',
    	hideChannels: [''],
    	showAllUsers: true,
    	allUsersDefaultState: false,
    });
    discordWidget.render();
