- content_for(:title) {"Rules"}

%section
    .page-header
        %h2
            Zildith Network Rules

    .row
        .col-md-12
            :markdown
                ### A. Global / Behavior Rules

                1. Do not harass or bully other users.
                2. Do not spam or flood chat. Spamming includes but is not limited to:
                  - Sending similar messages in a short period of time
                  - Sending gibberish or nonsense messages
                  - Sending messages that include irrelevant self-promotion or advertisement
                3. Do not link to any of the following:
                  - Keyloggers, IP grabbers, viruses, phishing sites, or other harmful softwares
                  - Nudity, gore, and objectionable content
                  - Screamers or excessively loud audio
                  - Link shorteners
                  - Other servers' IPs and/or their websites
                4. Do not impersonate staff members.
                5. Do not send or reveal the personal information of other users. Personal information of others that should not be shared without permission includes but is not limited to:
                  - Social media profiles such as Instagram and Twitter
                  - Real last names
                  - Addresses
                  - Passwords
                6. Do not exploit any glitches or tell other users how to exploit glitches.
                  - **Minor glitches** should be reported to the bugs page, and **severe game breaking glitches**, exploits that reveal confidential information, and other security exploits **MUST** be reported to an administrator.
                  - Users who are found to be "leaking" or sharing security glitches with other players will face severe punishment.
                7. **Miscellaneous Rules:**
                  - Do not attempt to loophole the rules or circumvent filters (e.g. replacing banned/blocked words with a similar word).
                  - Follow the directions given by staff members (i.e. if a moderator tells you to stop, you stop). You can contact an administrator at a later time if you feel that a moderator is being unjust or misleading you.
                  - You are expected to read and be updated with the rules. If you get punished and use "I didn't know" as an excuse, you will be laughed at.
                  - There is a 1 week grace period for major rule changes.
                  - Do not abuse any of the report features or lie in reports. Do not lie in appeals.
                  - **Administrators reserve the right to ban, unban, delete or edit posts, or apply or lift any type of punishment/restriction on an account for any reason at any time without warning.**

                **Note**: If you are concerned about links that may constitute as advertising, please clarify with a staff member before posting.

                **Note**: Section A applies to **all** Zildith services.

                ### B. Server Rules

                1. Do not user any modifications that give you an unfair advantage over other players. Ask an administrator if you are not sure if a mod is allowed. When in doubt, don't use it!
                2. Do not team grief, intentionally harm your own team, or intentionally hinder your own team. The following actions are considered team griefing:
                  - Killing or attempting to kill team mates (spleefing, placing lava on them, etc)
                  - Destroying or wasting team resources
                  - Working with enemy players
                  - Using TNT recklessly
                3. Do not kill newly spawned players or stay in/near their spawn.

                ### C. Discord Rules

                1. Your Discord nickname must be your in game name or similar. It is up to a staff member to decide whether or not your name is similar enough.
                2. Do not ping anyone or any rank without a valid reason.
                3. Do not use any voice effects or play music through your client.
                4. Do not add any bots without administrator/developer permission.
