%footer
    .row
        .col-md-2.col-sm-4.col-xs-6
            %ul.nav.nav-pills.nav-stacked
                %li.heading
                    Policies
                %li
                    %a{href: "/rules"} Player Rules
                %li
                    %a{href: "/terms"} Terms of Service
                %li
                    %a{href: "/terms"} Privacy Policy
                %li
                    %a{href: "/terms"} Refund Policy
        .col-md-2.col-sm-4.col-xs-6
            %ul.nav.nav-pills.nav-stacked
                %li.heading
                    Moderation
                %li
                    %a{:href => main_app.start_report_path} Report a Player
        .clearfix.visible-xs-block{style: "padding-bottom: 20px;"}
        .col-md-2.col-sm-4.col-xs-6
            %ul.nav.nav-pills.nav-stacked
                %li.heading
                    Organization
                %li
                    %a{:href => main_app.staff_index_path} Staff
                %li
                    %a{href: main_app.revisions_path} Development Logs
                %li
                    %a{href: "https://gitlab.com/ZildithNetwork/Issues"} Report a Bug
        .clearfix.visible-sm-block{style: "padding-bottom: 20px;"}
        .col-md-2.col-sm-4.col-xs-6
            %ul.nav.nav-pills.nav-stacked
                %li.heading
                    Contact Us
                %li
                    %a.inquiry{href: "#contact", data: {toggle: "modal"}} General Inquiries
                %li
                    %a.inquiry{href: "#contact", data: {toggle: "modal"}} Shop Purchases
        .clearfix.visible-xs-block{style: "padding-bottom: 20px;"}
        .col-md-2.col-sm-4
            %ul.nav.nav-pills.nav-stacked.follow-us
                %li.heading
                    Follow Us
                %li
                    %a{href: "https://twitter.com/ZildithNetwork"}
                        %i.fa.fa-twitter
                        Twitter
                    %a{href: "http://www.twitch.tv/Zildith"}
                        %i.fa.fa-twitch
                        Twitch
                    %a{href: "https://discordapp.com/invite/GEYfNM4"}
                        %i.fa.fa-microphone
                        Discord
        .clearfix.visible-xs-block{style: "padding-bottom: 20px;"}
        .col-md-2.col-sm-4{style: "text-align: center;"}
            .copyright
                &copy; #{Time.now.year} #{ORG::NAME}
