- content_for(:title) {"Terms of Service"}

%section
    .page-header
        %h2
            Zildith Network Terms of Service
        .small
            Last Updated March 3rd, 2018

    .row
        .col-md-12
            :markdown
                These terms and conditions are subject to change without notice.

                ### A. Payment

                All payments are final and non-refundable.(some exceptions apply) If a payment is not received or payment method is declined, the buyer forfeits the ownership of any items purchased. If no payment is received, no ranks or items will be given.

                ### B. Return/Refund Policy

                All purchases and donations on the Zildith Network are final. Ranks and items are not entitled to be refunded or returned. If you are not pleased with your purchase, a written explanation is needed before the item may be considered for a refund. Buyer must take into account the description of the item before requesting a refund. Exchanges are granted on a case-by-case basis. All "unlimited" and "lifetime" plans are only valid for the lifetime of the plan in question.

                ### C. Cancellations

                An item may be cancelled up until payment has been processed. Once payment has been processed, the buyer is responsible for payment. Chargebacks are not allowed and will result in a network ban.

                ### D. Complaints

                Any complaints about ranks or your purchase may be sent to the administration team through emailing [zildithnetwork@gmail.com](mailto:zildithnetwork@gmail.com).There is no guarantee of a resolution. Each case will be looked at individually.
